:root {
  --clr-primary-hover: hsl(156, 42%, 18%);
  --clr-primary-cyan: hsl(158, 36%, 37%);
  --clr-primary-cream: hsl(30, 38%, 92%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-500: hsl(228, 12%, 48%);
  --clr-neutral-900: hsl(212, 21%, 14%);

  --fw-regular: 500;
  --fw-bold: 700;

  --fs-xs: 0.75rem;
  --fs-s: 0.8125rem;
  --fs-m: clamp(0.76rem, 1vw + 1rem, 0.875rem);
  --fs-l: clamp(1.8rem, 2vw + 1rem, 2rem);

  --ff-body: Montserrat, sans-serif;
  --ff-heading: Fraunces, serif;

  --border-radius-s: 0.5rem;
  --border-radius-m: 0.625rem;
}

/* CSS reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

/* Utlity classes */

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.text-primary-cyan {
  color: var(--clr-primary-cyan);
}
.text-neutral-500 {
  color: var(--clr-neutral-500);
}
.text-neutral-900 {
  color: var(--clr-neutral-900);
}

.bg-primary-cyan {
  background-color: var(--clr-primary-cyan);
}
.bg-primary-cream {
  background-color: var(--clr-primary-cream);
}
.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}

.fw-regular {
  font-weight: var(--fw-regular);
}
.fw-bold {
  font-weight: var(--fw-bold);
}

.fs-xs {
  font-size: var(--fs-xs);
}
.fs-s {
  font-size: var(--fs-s);
}
.fs-m {
  font-size: var(--fs-m);
}
.fs-l {
  font-size: var(--fs-l);
}

.ff-heading {
  font-family: var(--ff-heading);
}
.ribbon-text {
  font-size: var(--fs-xs);
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.border-radius-s {
  border-radius: var(--border-radius-s);
}
.border-radius-m {
  border-radius: var(--border-radius-m);
}

:where(.flow > :not(:first-child)) {
  margin-top: var(--flow-spacer, 1rem);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  padding-block: 1.1em;
  width: 100%;
  background-color: var(--clr-primary-cyan);
  color: var(--clr-neutral-100);
  border-radius: var(--border-radius-s);
  gap: 1em;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--clr-primary-hover);
}

.grid {
  display: grid;
}

/* General styling */

body {
  font-family: var(--ff-body);
  font-size: var(--fs-m);
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-500);
  background-color: var(--clr-primary-cream);
  line-height: 1.5;
}

section {
  border-radius: var(--border-radius-m);
  margin-inline: 1rem;
  margin-block: 1.75rem;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
}

h1 {
  line-height: 1.1;
}

.c-product-card__img img {
  border-top-left-radius: var(--border-radius-m);
  border-top-right-radius: var(--border-radius-m);
}

.c-product-card__text {
  align-content: center;
  padding: 1.56rem;
}

.prices {
  display: flex;
  align-items: center;
}

.prices del {
  margin-inline: 1rem;
}

/* Media queries */

@media (min-width: 48rem) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
  }

  section {
    max-width: 37.5rem;
  }

  section {
    grid-template-columns: repeat(2, 1fr);
  }

  .c-product-card__img img {
    border-top-right-radius: 0;
    border-top-left-radius: var(--border-radius-m);
    border-bottom-left-radius: var(--border-radius-m);
  }

  .c-product-card__text {
    padding: 2rem;
  }
}

/* Attribution */

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
